OPENAI_API_KEY="sk-proj-yourkey"
SPOTIFY_CLIENT_ID="spotify-app-id"
SPOTIFY_CLIENT_SECRET="spotify-secret"
SPOTIFY_MAIN_USER_ID="your-username-for-defaults"
PUBLIC_POSTER_HOST="https://pub-your-public-r2-in-dash.r2.dev"
